.container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
  }
  
  .top{
    display: flex;
  }
  
  .imgContainer{
    width: 90%;
    height: 400px;
    position: relative;
  }
  
  .img{
    object-fit: cover;
  }
  .bottom{
    height: 300px;
  }
  
  .date{
    font-size: 12px;
    transform: rotate(270deg);
    margin: auto;
  }
  
  .title{
    width: 90%;
    font-size: 24px;
    margin-bottom: 8px;
    height: 80px;
    overflow: hidden;
  }
  
  .desc{
    width: 90%;
    margin-bottom: 8px;
    font-weight: 300;
    color: gray;
    height: 150px;
    overflow: hidden;
  }
  
  .link{
    text-decoration: underline;
  }
  @media (max-width: 1024px){
    .imgContainer{
      height: 400px;
    }
}
@media (max-width: 751px){
 
  .imgContainer{
      height: 300px;
  }
}