.container {  
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 50px auto 0;
  flex-direction: row; 
  width: 1024px;
}

.imgContainer {
  width: 27%;
  position: relative; /* Needed for the Next.js Image component when using layout="fill" */
  height: 400px; /* A fixed height for larger screens */
}

.img {
  object-fit: cover;
}

.textContainer {
  width: 58%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size:40px;
}

.detail {
  display: flex;
  gap: 20px;
  align-items: center;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.detailText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detailTitle {
  color: gray;
  font-weight: bold;
}

.detailValue {
  font-weight: 500;
}

.content {
  font-size: 20px;
}

/* Media query for screens smaller than 1024px */
@media (max-width: 1024px) {
  .container {
      width: 700px;
      gap: 20px; 
  }

  .imgContainer {
    margin: 5px auto;
    height: 450px; 
    width: 40%; 
  }
  .textContainer{
    margin: 0 auto;
    width: 90%;
    gap: 10px;
  }
  .title{
    text-align: center;
  }
  .detail{
    width: 75%;
    margin: 0 auto 30px;    
    gap: 40px;
  }
  .img {
    object-fit: cover; /* Ensure image covers the container */
  }
}

/* Media query for screens smaller than 768px */
@media (max-width: 751px) {
  .container {
    width: 300px;
    gap: 10px; 
    margin: 0;
}

.imgContainer {
  height: 200px; 
  width: 150px;
}
.textContainer{
  width: 300px;
  gap: 5px;
}
.title{
  font-size: 34px;
}
.detail{
  margin-bottom: 18px;
  width: 300px;  
  gap: 20px;
  align-items: flex-start;
}
.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.detailText {
  gap: 10px;
}

.detailTitle {
  font-size: 8px;
}

.detailValue {
  font-size: 12px;
  font-weight: 300;
}

.content {
  font-size: 12px;
}

}
