:root{
    --bg: #0d0c22;
    --bgSoft:#2d2b42;
    --text:white;
    --textSoft: #e5e5e5;
    --btn:#3673fd;
    --btnSoft:#2852b6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg);
    color: var(--text);
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    width: 1536px;
    margin: auto;
    padding: 0 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Customize the width of the scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  /* Customize the scrollbar track (the background of the scrollbar) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
  
  /* Customize the scrollbar thumb (the draggable part) */
  ::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px;
    border: 2px solid transparent; /* Add padding around the thumb */
  }
  
  /* Change the color of the thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  .error{
    color: red;
    font-size: 1.8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
@media (min-width: 1025px) {
    .container{
        width:1024px;
    }
}

@media (max-width: 1024px) {
    .container{
        width:751px;
    }
}
@media (max-width: 751px) {
    .container{
        width:350px;
    }
}


