.container{
    display: flex;
    gap: 100px;
    margin-top: 50px;
    width: 960px;
    flex-wrap: wrap;
}
.textContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.title{
    text-align: center;
    font-size: 50px;
}
.desc{
    font-size: 20px;
}
.buttons{
    margin: 0 auto;
    display: flex;
    gap: 20px;
}
.button{
    padding: 20px;
    min-width: 120px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
.button:first-child{
    background-color: var(--btn);
    color: var(--text);
}
.imageContainer{
    width: 30%;
    position: relative;
    height: 500px;
}
.brandImageContainer{
    width: 500px;
    height: 50px;
    position: relative;
    filter: grayscale(1);
}
@media (max-width: 1024px){
    .container{
        width: 720px;
        gap: 30px;
    }
    .textContainer{
        width: 50%;
    }
    .imageContainer{
        height: auto;
    }
    .title{
        text-align: center;
        font-size: 35px;
    }
    .desc{
        width: 330px;
        font-size: 15px;
    }
    .brandImageContainer{
        width: 300px;
    }
    .buttons{
        margin: 0 auto;
        gap:10px;
    }
    .button{
        padding: 10px;
      }
}
@media (max-width: 751px){
    .container{
        gap: 0;
        width: 300px;
    }
    .textContainer{
        width: 100%;
    }
    .imageContainer{
        height: 300px;
        width: 100%;
    }
    .title{
        text-align: center;
        font-size: 30px;
    }
    .desc{
        width: 95%;
        margin: 0 auto;
        font-size: 12px;
    }
    .brandImageContainer{
        width: 300px;
    }
    .buttons{
        margin: 0 auto;
        gap:10px;
    }
    .button{
        padding: 10px;
      }
    
}