.container{
    display: flex;
    padding: 20px 5px;
    justify-content: space-between;
    align-items: center;
    color: grey;
}
.logo{
    font-weight: bold;
}
.text{
    font-size: 12px;
}

@media (max-width: 751px){
    .container{
        flex-direction: column;
        justify-content: space-around;
    }
}