.container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap:15px;
    flex-wrap: wrap;
    width: 700px;
}
.post{
    width: 32%;
}

@media (max-width: 1024px){
    .container{
        gap: 30px;
    }
    .post{
        width: 47%;
    }
}
@media (max-width: 630px){
    .post{
        width: 100%;
    }
}