.container{
    padding: 0 20px;
    display: flex;
    gap:30px;
    flex-wrap: wrap;
}
.post{
    width: 30%;
}

@media (max-width: 1024px){
    .post{
        width: 45%;
    }
}
@media (max-width: 630px){
    .post{
        width: 100%;
    }
}